---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.svelte";
import Footer from "../../components/Footer.svelte";
import { itemList } from "../../components/stores/productionsStore";

import DesktopDrawer from "../../components/templates/DesktopDrawer.svelte";
import MobileDrawer from "../../components/templates/MobileDrawer.svelte";

import productions from "../../images/menu/productions.svg";

export function getStaticPaths() {
  return itemList.map((item) => {
    return {
      params: { id: item.id.toString() },
    };
  });
}
const id = Astro.params.id;
itemList.forEach((item) => {
  item.display.set(false);
});

const selectedItem = itemList.filter((item) => item.id == id)[0];
selectedItem.display.set(true);
---

<Layout title="Productions">
  <section class="lg:hidden">
    <Navbar darkMode={false} menuPage={false} />
  </section>
  <section class="hidden lg:block">
    <Navbar darkMode={true} menuPage={false} />
    <img
      src={selectedItem.images[0].src}
      alt="Landing Image"
      class="w-full object-cover"
    />
  </section>
  <main class="mt-[143.96px] lg:mt-[40px]">
    <div
      class="flex items-center justify-center mb-4 lg:justify-start lg:mb-[46px] lg:mx-[75px]"
    >
      <img
        src={productions}
        alt="Productions"
        class="w-[178px] lg:w-[171.21px]"
      />
    </div>
    <div
      class="text-center mx-[19px] grid gap-y-5 lg:text-start lg:w-[484px] lg:mx-[75px] lg:mb-[50px]"
    >
      <p>
        Since 1993, when Maya made her first solo, she has created different
        kinds of productions ranging from dance theatre to cross media
        performances and comedy. She is her own director and the centre piece of
        her making process is improvisation. Over the years, she has invited
        other artists – musicians, film makers, light and designers to improvise
        with her to create shows. While some productions have been adaptations
        of short stories, most have been inspired by events in India. There’s
        generally a strong social and political thread that runs through the
        content of her shows. Alongside, Kathakali – which she trained in for
        several years - seems to enter via various doors in creating a
        contemporary language of theatre. Maya has been commissioned by
        festivals both in India and abroad to create performances.
      </p>
      
    </div>
    <div class="hidden lg:block">
      <DesktopDrawer
        itemList={itemList}
        client:load
        categoryColor={"#2B948D"}
        drawerFor="productions"
        isOpenDrawer={true}
      />
    </div>
    <div class="lg:hidden mt-[30px] mb-[30px]">
      <MobileDrawer
        itemList={itemList}
        slideshowFor="productions"
        client:load
        categoryColor={"#2B948D"}
      />
    </div>
    <div class="lg:hidden"></div>
  </main>
  <Footer />
</Layout>
