---
// import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from "../layouts/Layout.astro";
import logo from "../images/logo.png";
import productions from "../images/home/productions.svg";
import teaching from "../images/home/teaching.svg";
import applied_theatre from "../images/home/applied_theatre.svg";
import dot1 from "../images/home/dot1.svg";
import dot2 from "../images/home/dot2.svg";
import Navbar from "../components/Navbar.svelte";
---


<Layout title="Maya's site">
	<div class="hidden lg:block">
	<Navbar menuPage={false}/>
</div>
	<main class="h-screen grid justify-items-center pt-9 pb-16 content-between">
		<div >
			<img src={logo} alt="logo" class="h-[156px] w-[284px] lg:hidden" />
		</div>
		<div class="grid justify-items-center lg:flex lg:justify-center lg:items-center lg:gap-x-8">
			<div class="lg:pt-3">
				<img src={productions} alt="productions" class="h-[34.58px] w-[154px] lg:h-[58.18px] lg:w-[259.07px]"
				/>
			</div>
			<div class="hidden lg:block">
				<img src={dot1} alt="first dot" />
			</div>

			<div class="pt-2 lg:pt-0">
				<img src={teaching} alt="teaching" class="h-[23.2px] w-[115.86px] lg:h-[39.02px] lg:w-[194.91px]" />
			</div>
			<div class="hidden lg:block">
				<img src={dot2} alt="first dot" />
			</div>

			<div class="pt-4 lg:pt-0">
				<img
					src={applied_theatre}
					alt="applied_theatre"
					class="h-[25.62px] w-[184.69px] lg:w-[310.69px] lg:h-[43.11px]"
				/>
			</div>
				<div class=" pt-5 lg:hidden">
				<button>enter</button>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		background-image: url("../images/home/landing.png");
		background-size: cover;
		background-position: center;
	}
</style>
